$activists: #04e762;
$artists: #731dd8;
$athletes: #00a1e4;
$firsts: #dc0073;
$entrepreneurs: #ff01fb;
$government: #b27c66;
$stem: #caa8f5;
$musician: #9c528b;
$poets: #f7a9a8;
$theatre: #faff00;
$writers: #ff7700;
$grey: #363636;
$selected: $grey;
$border: $grey;
$white: rgb(249, 249, 249);
$hover: #ffffff;
$text-dark-theme: #ffffff;
$background: #f0d8d8;
